.subheading {
  color: #2c7eea;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
}

.container img {
  width: 17%;
}

.maintext {
  font-weight: 500;
  margin-right: 7%;
}

.background {
  background-color: #9e9e9e;
}

.pastEventsSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.emptyContainer {
  width: 60px;
}

.eventsTitle {
  font-size: 4.5vmin;
  margin-bottom: 0;
}

@media screen and (max-width: 375px) {
  .eventsTitle {
    font-size: 1rem;
    margin-bottom: 0;
  }
}

.iconsContainer {
  display: flex;
  width: 60px;
}

.dark span,
.dark a {
  color: #2c7eea;
}

.dark,
.dark i,
.dark img {
  background-color: #121212;
  color: white;
  border-color: #2c7eea;
}
