* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  li,
  .nav-item {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16) !important;
  }
  
  .nav-logo {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    width: fit-content;
  }
  
  .nav_links {
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav_links li {
    display: inline-block;
    padding: 0px 20px;
  }
  
  .nav_links li .nav-item {
    transition: all 0.3s ease 0s;
  }
  
  .nav_links li .nav-item:hover {
    color: #2196f3 !important;
  }
  
  .active {
    border-bottom: 2px solid #2196f3;
  }
  
  .menu-icon {
    display: none;
  }
  
  .close-icon {
    display: none;
  }
  
  .dark,
  .dark i,
  .dark img {
    background-color: #272727;
    color: white;
    border-color: #2c7eea;
  }
  
  @media only screen and (max-width: 850px) {
    .nav-container nav {
      display: none;
    }
  
    .nav-container-expanded nav {
      width: 100%;
      margin-top: 25px;
      border-top: 1px solid rgba(0, 0, 0, 0.16);
    }
  
    .nav-container-expanded {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 25px 10%;
      height: auto;
      z-index: 10;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16) !important;
    }
  
    .menu-icon {
      display: block;
      cursor: pointer;
    }
  
    .close-icon {
      display: block;
      cursor: pointer;
    }
  
    .nav-container-expanded .menu-icon {
      display: none;
      cursor: none;
    }
  
    .nav_links {
      margin-top: 10px;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav_links li {
      display: inline-block;
      padding: 5px 0px;
    }
  }
  