.contentHeading {
  font-size: 140%;
  font-weight: 450;
  margin-bottom: 0rem;
}
.contentCol {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

.dark {
  background-color: #272727;
  color: white;
}

.links {
  text-decoration: none;
  font-size: 110%;
  color: #3e4551;
  background-color: transparent;
}
a:hover {
  background-color: unset !important;
  color: unset !important;
}

@media only screen and (max-width: 992px) {
  .contentHeading {
    font-size: 110%;
    font-weight: 450;
    margin-bottom: 0rem;
  }

  .links {
    text-decoration: none;
    font-size: 90%;
    color: #3e4551;
    background-color: transparent;
  }
}
