.contentHeading {
  font-size: 140%;
  font-weight: 450;
  margin-bottom: 0rem;
}
.contentCol{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 0rem;
}
.links {
  text-decoration: none;
  font-size: 110%;
  color: #3e4551;
  background-color: transparent;
}
a:hover {
  background-color: unset !important;
  color: unset !important;
}


