* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

li, .nav-item {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 10;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16) !important;
}

.nav-logo {
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li .nav-item {
    transition: all 0.3s ease 0s;
}

.nav_links li .nav-item:hover {
    color: #2196f3 !important;
}

.dark, .dark i, .dark img {
    background-color: #272727;
    color: white;
    border-color: #2c7eea;
}


